*{
	margin=0;
	padding=0;
}
#container{
}
.wrapper{
	width:1080px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
h1{
	color:blue;
	font-size=100px;
}
.banner,.toc,.main-content,.footer {
	border: 1px solid black;
}
.wrapper{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows: 4fr 10fr 1fr;
}
.banner{
	grid-column: span 12;

}
.toc{
	grid-column: span 2;
}
.main-content{
	grid-column: span 10;
}
.footer{
	grid-column: span 12;
}